## Exploring_data

## Import

In [1]:
import numpy as np
import pandas as pd

## Read data from csv file

In [2]:
udemy_df = pd.read_csv("Data/data.csv")
udemy_df

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,/course/pmp-pmbok6-35-pdus/,True,155282,4.59491,4.59326,4.59326,52653,False,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
3,648826,The Complete Financial Analyst Course 2020,/course/the-complete-financial-analyst-course/,True,245860,4.54407,4.53772,4.53772,46447,False,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,/course/an-entire-mba-in-1-courseaward-winning...,True,374836,4.47080,4.47173,4.47173,41630,False,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22848,1516977,Fundamental Service Oriented Arch (SOA) Securi...,/course/fundamental-service-oriented-arch-soa-...,True,16,3.25000,2.65702,2.65702,2,False,0,2,2018-01-19T09:03:46Z,2018-01-28T09:20:37Z,455.0,INR,₹455,1280.0,INR,"₹1,280"
22849,1479824,Linux Certification for Experts - Practice Tes...,/course/linux-certification-for-beginners-prac...,True,15,4.00000,3.56818,3.56818,2,False,0,2,2017-12-23T12:44:39Z,2017-12-24T07:38:36Z,455.0,INR,₹455,1280.0,INR,"₹1,280"
22850,1879598,SAP SuccessFactors Employee Central Payroll Fu...,/course/public-transport-management-systems/,True,19,2.75000,2.70354,2.70354,2,False,5,0,2018-08-27T14:43:42Z,2018-09-19T23:19:18Z,NaN,NaN,NaN,1280.0,INR,"₹1,280"
22851,1940616,Comptia Linux+ / LPIC-1 (102-400),/course/comptia-linux-lpic-1-102-400/,True,1082,3.75000,3.72059,3.72059,2,False,31,0,2018-09-30T15:11:27Z,2018-12-11T16:22:32Z,455.0,INR,₹455,1280.0,INR,"₹1,280"
22852,543712,Cisco Networking CCNA IPv6 OSPF,/course/networkingstepbystep-ipv6-ospf/,True,858,4.50000,4.48220,4.48220,2,False,24,0,2015-07-03T02:24:30Z,2015-07-07T00:01:23Z,455.0,INR,₹455,8640.0,INR,"₹8,640"

## With each categorical column, how are values distributed?

In [3]:
udemy_df = udemy_df.drop(columns=['discount_price__price_string','price_detail__price_string'])

In [10]:
cat_col_info_df = udemy_df.select_dtypes(include=['object','bool']).drop(columns = ['created','published_time'])
def missing_ratio(s):
    temp=s.isnull().sum()
    result=float(temp)/len(s.index) *100
    return result
def num_values(s):
    temp=s.copy()
    a=list(set(temp))
    has_missing_values = temp.isnull()
    if True in has_missing_values.values:
        return len(a)-1            
    return len(a)
def value_ratios(s):
    dict={}
    temp=s.copy()
    count=temp.value_counts()
    count.sort_values(ascending=False)
    index=count.index
    lenNotMissing=s.isnull().sum()
    for i in index:
        dict[i]=count[i]/(len(s)-lenNotMissing)
    return dict
cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values,value_ratios])
display(cat_col_info_df)

,title,url,is_paid,is_wishlisted,discount_price__currency,price_detail__currency
missing_ratio,0.0,0.0,0.0,0.0,8.003326,2.174769
num_values,22750,22853,2,1,1,1
value_ratios,{'AWS Certified Solutions Architect Associate ...,{'/course/the-complete-sql-bootcamp/': 4.37579...,"{True: 0.9782523082308668, False: 0.0217476917...",{False: 1.0},{'INR': 1.0},{'INR': 1.0}

According to the table above, columns discount_price__currency and price_detail__currency are missing. 

There is nothing unusual in the data collected.